*.log
merge_chat_config.json
__pycache__/
*.pyc
*.pyo
merge_chat.iconset/
.DS_Store

build/
dist/
dist_mac/
dist_installer/
python-installer/
*.spec
build_log.txt
*.flag
install_log.txt
launch_log.txt
